<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Spark_Syz Week3_homework</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body id="main" :after>
    <h1>Week 4 留言板<3 </h1>
    <h2>B06104006 哲學二 郭庭瑞
    </h2>
    <div id="container">
        <div id="content">
            {% for msg in msgs %}
                <div class='msg'>
                    <span class="name">{{msg.talker}}</span>
                    {{msg.message}}
                </div>
            {% endfor %}
        </div>
        <div id="send-box">
            <form id="send-form">
                <input type="text" name="name" id="name" placeholder="Name">
                <input type="text" name="msg" id="msg" placeholder="Message">
                <input type="submit" id="submit" value="Send">
            </form>
        </div>
    </div>
</body>

</html>
